     <md-content>
   <div layout="column" layout-margin flex >

      <div class="md-whiteframe-z4">
           <div class="container-content">
         <md-tabs class="md-accent md-hue-3" md-dynamic-height md-border-bottom>
            <md-tab label="Summary">
              <div class="md-padding">
                  <h2 class="md-flex">The Project</h2>
                  <p> This project is an skeleton with CRUD operations for Single Page Applications.
                  <p>In current version I used AngularJS as SPA framework and IndexedDB for storage data in memory. </p>
                  <!-- <ul>
                     <li>
                     	build
                     </li>
                     <li>
                     	app
                     	<ul>

                     		<li>components</li>
                     		<li>config</li>
                     		<li>shared</li>
                     		<li>shell</li>
                     	</ul>
                     	<li>
                     		assets
                     		<ul>
                     			<li>css</li>
                     			<li>icons</li>
                     			<li>img</li>
                     			<li>js</li>
                     		</ul>
                     	</li>
                     </ul> -->
                  <h3>
                     Structure:
                  </h3>
                  <img src="assets/img/project_structure.png" alt="Project Structure" />
                  <h2 class="md-flex">Future</h2>
                  <p> Development features for next version:</p>
                  <md-list>
                     <md-list-item>
                        <div class="md-list-item-text">
                           - Unit Tests
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div class="md-list-item-text">
                           - Create package in NPM repository
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div class="md-list-item-text">
                           - Integrate with a rest api using NodeJS + Express or Restify.
                        </div>
                     </md-list-item>
                  </md-list>
                  <h2>Feedbacks and report errors </h2>
                  <p>I'd grateful if you collaborate with feedbacks and bug reports.
                     Feel free to pull requests too! :)
                  </p>
                  <h2> More informations </h2>
                  You can see more informations <a href="https://github.com/ViniciusTavares/SPA-Seed-Angular-Material" target="_blank">HERE</a> (GitHub).
              </md-tab>
            </div>
            <md-tab flex label="Technologies">
                    <div class="md-padding">
                  <h2>Scripts and frameworks used in project</h2>
                  <md-list>
                     <md-list-item>
                       <div class="md-list-item-text">
                          -  GulpJs (<a href="http://gulpjs.com/"  target="_blank">http://gulpjs.com/</a>)
                       </div>
                     </md-list-item>
                        <md-list-item>
                        <div class="md-list-item-text">
                           -  AngularJS 1.4 (<a href="https://angularjs.org/" target="_blank">https://angularjs.org</a>)
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div class="md-list-item-text">
                           -  Angular Material (<a href="https://material.angularjs.org/latest/" target="_blank">https://material.angularjs.org/latest</a>)
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div class="md-list-item-text">
                           -  Angular-Indexed-DB ( <a href="https://github.com/bramski/angular-indexedDB">https://github.com/bramski/angular-indexedDB</a> )
                        </div>
                     </md-list-item>
                     <md-list-item>
                        <div class="md-list-item-text">
                           -  UI Router (<a href="http://angular-ui.github.io/ui-router/site/#/api/ui.router" target="_blank">http://angular-ui.github.io/ui-router/site/#/api/ui.router</a>)
                        </div>
                     </md-list-item>
                  </md-list>
                  <h2>Storage</h2>
                  <md-list>
                     <md-list-item>
                       <div class="md-list-item-text">
                          -  IndexedDB (<a href="http://www.w3.org/TR/IndexedDB//"  target="_blank">http://www.w3.org/TR/IndexedDB/</a>)
                       </div>
                  </md-list>
                </div>
            </md-tab>
         </md-tabs>

      </div>
   </div>
 </md-content>
</div>

     </md-content>
